body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
}
.bordo{
    border: 1px solid red;
}
/* header */


header{
    font-size: 20px;
}
.my_sony_nav{
    width: 100%;
    background-color: black;
}
.my_src_img{
    width: 30px;
}
.my_btn{
    background-color: black;
    border-radius: 25px;
    padding: 0px 5px;
    width: 85px;
    text-align: center;
}
.my_btn a{
    color: white;
    text-decoration: none;
}
.ms_dropnav img{
    width: 80px;
}
.my_link{
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.my_link_sub li {
    list-style: disc;
    color: blue;
    margin: 15px;
}
.my_a_dropdown{
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
/* header hover */

.border_btn:hover{
   box-shadow:  inset 1px 1px 10px rgb(255, 234, 234);
}
.border_d:hover{
    border: 2px solid black;
}
.border_g:hover{
    border: 2px solid rgb(164, 155, 155);
}
.border_r:hover{
    border: 2px solid red;
}
.box_ps:hover{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* main */

/* sezione jumbotron  */

.jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 110px ;
    color: white;
    width: 100%;
}    
.ms_banner{
    padding-top: 350px;
}

.my_btn_sect{
    display: inline-block;
    border-radius: 25px;
    padding: 15px 15px;
}
.my_btn_sect a{
    color: white;
    text-decoration: none;
}
/* sezione PS5 store */

.ps5_store{
    padding-top: 65px;
}
.ps5_store img{
    border-radius: 30px;
}
.my_ps5_slogan h4, .my_ps5_info h4, .explore_ps4 h4, .ps_store h4{
    color: rgb(110, 109, 109);
}
.my_slogan{
    color: rgb(51, 93, 245) ;
}
.ps5_shop{
    opacity: 0.6;
    max-width: 200px;
}
.my_ps5_info{
    padding: 0 20px;
}
.my_border_shop{
    border: 3px solid;
    border-radius: 35px;
}
/* sezione PS5 store hover */

.store_games:hover{
    position: relative;
    bottom: 20px;
 }
.ps5_shop:hover{
    opacity: 1;
    border-bottom: 1px solid rgb(51, 93, 245);
}
/* sezione jumbotron  ps4*/

.jumbo_ps4{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
}    
/* sezione nuove uscite*/

.new_release{
    background-color: rgb(49, 48, 48);
}
.new_release img{
    border-radius: 10px;
}
/* sezione esplora ps4*/

/* sezione playstation plus*/
.logo_psplus{
    width: 335px;
}
.play_plus{
    background-color: rgb(186, 180, 180);
}
.play_plus .my_btn_sect{
    background-color: rgb(236, 233, 233);
}
.play_plus .my_btn_sect a{
    color: rgb(51, 93, 245);;
}
/* sezione playstation plus*/

.play_now{
    color: white;
    background-color: rgb(3, 3, 59);
}
.play_now a{
    color: black;
}
/* footer */
footer{
    padding-top: 40px;
    background-color: rgb(9, 40, 153);
    color: white;
}
footer a{
    color: white;
}
footer ul{
    list-style: none;
}
footer li a{
    text-decoration: none;
    vertical-align: 20px;
}